
.one__header.header-fixed{
    position: fixed;
    top: 20px;
    left: 0;
    width: 100%;
}
.header-section {
    width: 100%;
    z-index: 99;
    position: relative;
    .nav-brand {
        max-width: 265px;
        @include maxQuery(991) {
            max-width: 150px;
        }
    }
    .search-toggle-box {
        @include maxQuery(767) {
            display: none;
            position: absolute;
            width: 100%;
            top: 60px;
            z-index: 10;
        }
    }
    // Navbar Start
    .main-navbar {
        @include maxQuery(991) {
            .navbar-toggle-item {
                display: none;
            }
        }
        @include minQuery(992) {
            .navbar-toggle-item {
                display: initial !important;
            }
        }
        .custom-nav {
            .menu-item,
            .menu-link {
                color: var(--n0);
                button, a {
                    font-size: 16px !important;
                    font-weight: 500;
                    color: var(--n0);
                    @include maxQuery(991){
                        font-size: 16px !important;
                        font-weight: 400 !important;
                    }
                    @include maxQuery(575) {
                        font-size: 16px;
                    }
                    &:hover, &.active{
                        color: var(--s1);
                    }
                }
                button{
                    i{
                        font-size: 14px;
                    }
                }
            }
            @include maxQuery(991) {
                padding-top: 10px;
                text-align: center;
                width: 100%;
                .sub-menu {
                    display: none;
                    margin-bottom: 10px;
                    li{
                        a{
                            font-size: 14px !important;
                            font-weight: 400 !important;
                            letter-spacing: 2px;
                        }
                    }
                }
            }
            @include minQuery(992) {
                .menu-item {
                    padding: 20px 0;
                    button {
                        &:hover {
                            button {
                                &::after {
                                    transform: rotate(-180deg);
                                }
                            }
                        }
                    }
                    a{
                        color: var(--n0);
                    }
                }
                .sub-menu {
                    position: absolute;
                    top: 20px;
                    left: -30px;
                    min-width: 240px;
                    opacity: 0;
                    width: max-content;
                    visibility: hidden;
                    transform: translateY(30px);
                    text-wrap: nowrap;
                    transition: var(--transition);
                    display: initial !important;
                    background: var(--bg1);
                    z-index: 10;
                    pointer-events: none;
                    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                    padding: 1px 16px 12px;
                    a{
                        color: var(--n0);
                    }
                    .sub-menu{
                        left:  99%;
                        top: -55px;
                        z-index: 9;
                        a{
                            color: var(--n0);
                        }
                    }
                }
                .menu-item {
                    position: relative;
                    &:hover {
                        >.sub-menu {
                            opacity: 1;
                            visibility: visible;
                            transform: translateY(40px);
                            pointer-events: auto;
                        }
                    }
                }
            }
        }
        .navbar-toggle-btn {
            width: 34px;
            height: 20px;
            position: relative;
            right: 0;
            transition: var(--transition);
            top: 0;
            span {
                display: block;
                position: absolute;
                height: 1px;
                width: 100%;
                background: var(--s1);
                border-radius: 9px;
                opacity: 1;
                left: 0;
                transform: rotate(0deg);
                transition: var(--transition);
                &:nth-child(1) {
                    top: 0;
                }
                &:nth-child(2),
                &:nth-child(3) {
                    top: 10px;
                }
                &:nth-child(4) {
                    top: 20px;
                }
            }
            &.open {
                span {
                    &:nth-child(1) {
                        top: 18px;
                        width: 0%;
                        left: 50%;
                    }

                    &:nth-child(2) {
                        transform: rotate(45deg);
                    }

                    &:nth-child(3) {
                        transform: rotate(-45deg);
                    }

                    &:nth-child(4) {
                        top: -10px;
                        opacity: 0;
                        left: -50%;
                    }
                }
            }
        }
        padding: 10px 30px 10px;
        border-radius: 0;
        background: rgba(34, 36, 38, 0.40);
        @include maxQuery(991){
            padding: 17px 20px 18px; 
        }
        transition: all 0.4s;
        &:hover{
            box-shadow: rgba(204, 219, 232, 0.109) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.081) -3px -3px 6px 1px inset;
        }
    }
    .golelayla-logo{
        letter-spacing: 1.8px;
    }
}
.header-sectionone{
    position: absolute;
    top: 0;
    left: 0;
    .main-navbar{
        background: #FEFBF7;
        backdrop-filter: blur(25px);
    }
}
.head-btngrp{
    border-radius: 100px;
    border: 3px solid var(--s1);
    overflow: hidden;
    .cmn-btn{
        padding: 16px 28px 14px;
    }
}

.cus__scroll{
    max-height: 65vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
// sticky header 
.header-fixed{
    @include maxQuery(991){
        position: fixed;
        top: 24px;
        z-index: 999;
        width: 100%;
    }
}

.serial{
    @include box(22);
    position: absolute;
    top: -9px;
    right: -9px;
}

.designers {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--n0);
    color: transparent;
    transition: all 0.5s;
    position: relative;
  }
.designers::before {
content: attr(data-text);
position: absolute;
color: var(--s2);
width: 0px;
overflow: hidden;
animation: pulse-width 3s ease-in infinite;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: var(--s2);
}

@keyframes pulse-width {
50% {
    width: 100%;
}
}
